* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-size: 100%;
    padding: 50px;
}

.task1 {
    width: 600px;
    padding: 25px;
}

.button {
    font-size: 1em;
    padding: 15px;

    border: 2px solid #6a97e6;
    border-radius: 5px;
}

.collapse_button {
    background-color: #2522bb;

    color: white;
    transition: background-color 2s;
}

.collapse_button:hover {
    background-color: #5289f7;
}

.collapse_container {
    margin-top: 10px;
    max-height: 0;

    overflow: hidden;
    transition: max-height 1s;
}

.collapse_content {
    padding: 10px;
    margin-right: 200px;

    border: 1px solid #a09a9a;
    border-radius: 5px;
}

.active {
    max-height: 100vh;
}